$aero: #00B9E8;
$air-force-blue: #5D8AA8;
$air-superiority-blue: #72A0C1;
$alice-blue: aliceblue;
$argentinian-blue: #6CB4EE;
$azure: #007FFF;
$azul: #0070BB;
$baby-blue: #89CFF0;
$berkeley-blue: #003262;
$bice-blue: #2072AF;
$bleu-de-france: #318CE7;
$blue: blue;
$blue-gray: #6699CC;
$bondi-blue: #0095B6;
$brandeis-blue: #0070FF;
$byzantine-blue: #3457D5;
$cambridge-blue: #85B09A;
$carolina-blue: #7BAFD4;
$celestial-blue: #4997D0;
$celtic-blue: #246BCE;
$cerulean: #007BA7;
$chefchaouen-blue: #468FEA;
$chrysler-blue: #3B00DB;
$cobalt-blue: #0047AB;
$columbia-blue: #B9D9EB;
$cornflower-blue: cornflowerblue;
$blue-crayola: #1F75FE;
$dark-blue: darkblue;
$deep-sky-blue: deepskyblue;
$delft-blue: #1F305E;
$denim: #1560BD;
$dodger-blue: dodgerblue;
$duke-blue: #00009C;
$egyptian-blue: #1034A6;
$federal-blue: #16166B;
$glaucous: #6082B6;
$green-blue: #1164B4;
$electric-indigo: #6F00FF;
$french-blue: #0072BB;
$ice-blue: #99FFFF;
$indigo: indigo;
$indigo-dye: #00416A;
$international-klein-blue: #002FA7;
$jordy-blue: #8AB9F1;
$lapis-lazuli: #26619C;
$light-blue: lightblue;
$light-sky-blue: lightskyblue;
$majorelle-blue: #6050DC;
$marian-blue: #2B4593;
$maya-blue: #73C2FB;
$medium-blue: mediumblue;
$medium-slate-blue: #7B68EE;
$midnight-blue: #191970;
$blue-munsell: #0093AF;
$navy-blue: navy;
$blue-ncs: #0087BD;
$neon-blue: #4666FF;
$non-photo-blue: #A4DDED;
$oxford-blue: #002147;
$palatinate-blue: #273BE2;
$pale-azure: #87D3F8;
$penn-blue: #011F5B;
$periwinkle: #CCCCFF;
$persian-blue: #1C39BB;
$phthalo-blue: #000F89;
$picton-blue: #45B1E8;
$polynesian-blue: #224C98;
$powder-blue: #9EB9D4;
$prussian-blue: #003153;
$resolution-blue: #002387;
$risd-blue: #2454FF;
$royal-blue-web: royalblue;
$royal-blue-traditional: #002366;
$ruddy-blue: #76ABDF;
$sapphire: #0F52BA;
$honolulu-blue: #0076B6;
$savoy-blue: #4B61D1;
$silver-lake-blue: #5D89BA;
$sky-blue: skyblue;
$space-cadet: #1E2952;
$steel-blue: steelblue;
$tang-blue: #0059CF;
$true-blue: #2D68C4;
$tufts-blue: #3E8EDE;
$ucla-blue: #2774AE;
$ultramarine: #120A8F;
$united-nations-blue: #4B92DB;
$uranian-blue: #AFDBF5;
$violet-blue: #324AB2;
$vista-blue: #7C9ED9;
$yale-blue: #00356B;
$ylnmn-blue: #2E5090;
$zaffre: #0014A8;
$aqua: aqua;
$aquamarine: aquamarine;
$azure-web: azure;
$blue-green: #0D98BA;
$caribbean-current: #006D6F;
$celeste: #B2FFFF;
$cyan-rgb: cyan;
$dark-cyan: darkcyan;
$electric-blue: #7DF9FF;
$fluorescent-cyan: #15F4EE;
$jungle-green: #29AB87;
$keppel: #3AB09E;
$light-cyan: lightcyan;
$light-sea-green: lightseagreen;
$mint-green: #DFFFFD;
$mint: #3EB489;
$moonstone: #3AA8C1;
$myrtle-green: #317873;
$pacific-cyan: #1CA9C9;
$persian-green: #00A693;
$pine-green: #01796F;
$process-cyan: #00B7EB;
$robin-egg-blue: #00CCCC;
$sea-green: seagreen;
$skobeloff: #007A74;
$spring-green: springgreen;
$teal: teal;
$tiffany-blue: #81D8D0;
$turquoise: turquoise;
$verdigris: #43B3AE;
$vivid-sky-blue: #00CCFF;
$zomp: #39A78D;
$apple-green: #8DB600;
$aquamarine-2: #00FFBF;
$asparagus: #7BA05B;
$avocado: #568203;
$bright-green: #66FF00;
$british-racing-green: #004225;
$brunswick-green: #1B4D3E;
$cal-poly-green: #1E4D2B;
$castleton-green: #00563B;
$celadon: #ACE1AF;
$chartreuse: chartreuse;
$dark-green: #013220;
$dark-moss-green: #4A5D23;
$dark-pastel-green: #03C03C;
$dark-spring-green: #177245;
$dartmouth-green: #00693E;
$emerald: #50C878;
$erin: #00FF40;
$fern-green: #4F7942;
$forest-green: #228B22;
$green: #00FF00;
$green-yellow: #ADFF2F;
$harlequin: #3FFF00;
$honeydew: honeydew;
$hookers-green: #49796B;
$hunter-green: #355E3B;
$india-green: #138808;
$jade: #00A86B;
$kelly-green: #4CBB17;
$lawn-green: #7CFC00;
$light-green: lightgreen;
$lime: #C0FF00;
$lime-green: limegreen;
$malachite: #0BDA51;
$mantis: #74C365;
$midnight-green: #004953;
$mindaro: #E3F988;
$moss-green: #8A9A5B;
$neon-green: #39FF14;
$office-green: #008000;
$olive: olive;
$olivine: #9AB973;
$pakistan-green: #00401A;
$pear: #D1E231;
$pigment-green: #00A550;
$pistachio: #93C572;
$reseda-green: #6C7C59;
$sage: #BCB88A;
$screamin-green: #76FF7A;
$sgbus-green: #55DD33;
$shamrock-green: #009E60;
$spring-bud: #A7FC00;
$tea-green: #D0F0C0;
$viridian: #40826D;
$yellow-green: yellowgreen;
$amber: #FFBF00;
$apricot: #FBCEB1;
$arylide-yellow: #E9D66B;
$aureolin: #FDEE00;
$beige: beige;
$buff: #E0AB76;
$canary: #FFEF00;
$champagne: #F7E7CE;
$chartreuse-2: #DFFF00;
$citron: #DDD06A;
$citrine: #E4D00A;
$cosmic-latte: #FFF8E7;
$cream: #FFFDD0;
$dark-goldenrod:darkgoldenrod;
$ecru: #CDB280;
$flax: #EEDC82;
$gamboge: #EF9B0F;
$gold: gold;
$gold-metallic: #D4AF37;
$goldenrod: goldenrod;
$harvest-gold: #E6A817;
$icterine: #FCF75E;
$ivory: ivory;
$jasmine: #F8DE7E;
$jonquil: #FACA16;
$khaki: #C3B091;
$lemon-chiffon: lemonchiffon;
$lemon-lime: #E3FF00;
$light-yellow: lightyellow;
$lion: #C19A6B;
$maize: #FBEC5D;
$mikado-yellow: #FFC40C;
$mustard: #FFDB58;
$naples-yellow: #FADA5E;
$navajo-white: navajowhite;
$old-gold: #CFB53B;
$papaya-whip: papayawhip;
$peach-yellow: #FADFAD;
$saffron: #F4C431;
$school-bus-yellow: #FFD800;
$selective-yellow: #FFBA00;
$straw: #E4D96F;
$sunglow: #FFCC33;
$sunset: #FAD6A5;
$vanilla: #F3E5AB;
$wheat: wheat;
$yellow: yellow;
$auburn: #A52A2A;
$almond: #EFDECD;
$beaver: #9F8170;
$bistre: #3D2B1F;
$black-bean: #3D0C02;
$black-olive: #3B3C36;
$bole: #79443B;
$bone: #E3DAC9;
$bronze: #CD7F32;
$brown: #993300;
$brown-sugar: #AF6E4D;
$buff-2: #DAA06D;
$burgundy: #800020;
$burnt-sienna: #E97451;
$burnt-umber: #8A3324;
$caput-mortuum: #592720;
$caramel: #CC7F3B;
$chamoisee: #A0785A;
$chestnut: #954535;
$chocolate: #7B3F00;
$cocoa-brown: #D2691E;
$coffee: #6F4E37;
$copper: #B87333;
$cordovan: #893F45;
$coyote: #81613E;
$desert-sand: #EDC9AF;
$drab-dark-brown: #4A412A;
$dun: #DAC8AE;
$earth-yellow: #E1A95F;
$fawn: #E5AA70;
$field-drab: #6C541E;
$fulvous: #E48400;
$golden-brown: #996515;
$harvest-gold-2: #DA9100;
$kobicha: #6B4423;
$liver: #674C47;
$mahogany: #C04000;
$maroon: maroon;
$ochre: #CC7722;
$raw-umber: #926644;
$redwood: #A45A52;
$rufous: #A81C07;
$russet: #80461B;
$rust: #B7410E;
$sandy-brown: sandybrown;
$satin-sheen-gold: #CBA135;
$seal-brown: #59260B;
$sepia: #704214;
$sienna: #882D17;
$sinopia: #CB410B;
$tan: tan;
$taupe: #483C32;
$tawny: #CD5700;
$umber: #635147;
$van-dyke: #44362F;
$walnut-brown: #5C5248;
$wenge: #645452;
$aerospace-orange: #FF4F00;
$alloy-orange: #C46210;
$atomic-tangerine: #FF9966;
$brown-2: #964B00;
$burnt-orange: #BF5700;
$butterscotch: #E09540;
$carrot-orange: #ED9121;
$coral: coral;
$dark-orange-web: darkorange;
$engineering-orange: #BA160C;
$flame: #E25822;
$giants-orange: #FE5A1D;
$golden-gate-bridge: #F04A00;
$hunyadi-yellow: #E8AC41;
$light-orange: #FED8B1;
$melon: #FDBCB4;
$orange-crayola: #FF7538;
$orange-pantone: #FF5800;
$orange-peel: #FFA000;
$orange-web: orange;
$orange-wheel: #FF8000;
$peach: #FFE5B4;
$persian-orange: #D99058;
$persimmon: #EC5800;
$princeton-orange: #FF8F00;
$pumpkin: #FF7518;
$safety-orange: #FF7900;
$saffron-2: #F4C430;
$spanish-orange: #E86100;
$tangelo: #F94D00;
$tangerine: #F28500;
$tigers-eye: #B56917;
$ut-orange: #FF8200;
$xanthous: #F1B42F;
$amaranth-purple: #AB274F;
$barn-red: #7C0902;
$bittersweet: #FE6F5E;
$bittersweet-shimmer: #BF4F51;
$blood-red: #660000;
$bright-pink-crayola: #FB607F;
$candy-apple-red: #FF0800;
$cardinal: #C51E3A;
$carmine: #960018;
$cerise: #DE3163;
$chili-red: #E23D28;
$chocolate-cosmos: #58111A;
$cinnabar: #E44D2E;
$claret: #7F1734;
$coquelicot: #FF3800;
$coral-pink: #F88379;
$cornell-red: #B31B1B;
$crimson: crimson;
$dark-red: darkred;
$falu-red: #801818;
$fire-brick: firebrick;
$fire-engine-red: #CE2029;
$folly: #FF004F;
$garnet: #733635;
$imperial-red: #ED2939;
$indian-red: indianred;
$jasper: #D05340;
$light-coral: #F08080;
$light-red: #FF7F7F;
$madder: #A50021;
$misty-rose: mistyrose;
$off-red-rgb: #FE0000;
$old-rose: #C08081;
$ou-crimson: #841617;
$penn-red: #990000;
$persian-red: #CC3333;
$pink: pink;
$poppy: #DC343B;
$red: red;
$red-cmyk: #ED1B24;
$red-crayola: #EE204E;
$red-munsell: #F2003C;
$red-ncs: #C40234;
$red-pantone: #ED2839;
$redwood-2: #AB4E52;
$rojo: #E60026;
$rose: #FF0080;
$rose-ebony: #674846;
$rose-red: #C21E56;
$rose-taupe: #905D5D;
$rosewood: #65000B;
$rosy-brown: rosybrown;
$rusty-red: #DA2C43;
$salmon: salmon;
$salmon-pink: #FF91A4;
$scarlet: #FF2400;
$syracuse-red-orange: #D44500;
$tea-rose-red: #F4C2C2;
$tomato: tomato;
$turkey-red: #A91101;
$vermilion: #E34234;
$wine: #722F37;
$amaranth: #E52B50;
$amaranth-pink: #F19CBB;
$baker-miller-pink: #FF91AF;
$blush: #DE5D83;
$brilliant-rose: #F653A6;
$carnation-pink: #FFA6C9;
$champagne-pink: #F1DDCF;
$cherry-blossom-pink: #FFB7C5;
$china-rose: #A8516E;
$cyclamen: #F56FA1;
$deep-pink: deeppink;
$dogwood-rose: #D71868;
$fairy-tale: #F2C1D1;
$french-rose: #F64A8A;
$fuschia: fuchsia;
$fuschia-rose: #C74375;
$heliotrope: #DF73FF;
$hollywood-cerise: #F400A1;
$hot-magenta: #FF00CC;
$hot-pink: hotpink;
$lavender-blush: lavenderblush;
$lavender-pink: #FBAED2;
$magenta: #FF0090;
$mexican-pink: #E4007C;
$mimi-pink: #FFDAE9;
$mountbatten-pink: #997A8D;
$orchid-pink: #F2BDCD;
$pale-dogwood: #EDCDC2;
$peach-2: #FFCBA4;
$persian-rose: #FE28A2;
$persian-pink: #F77FBE;
$phlox: #DF00FF;
$rose-pompadour: #ED7A9B;
$puce: #CC8899;
$raspberry: #E30B5C;
$razzle-dazzle-rose: #FF33CC;
$razzmatazz: #E3256B;
$red-violet: #C71585;
$raspberry-rose: #B3446C;
$rose-bonbon: #F9429E;
$rose-pink: #FF66CC;
$rose-quartz: #AA98A9;
$seashell: seashell;
$shocking-pink: #FC0FC0;
$tickle-me-pink: #FC89AC;
$telemagenta: #CF3476;
$thulian-pink: #DE6FA1;
$ultra-pink: #FF6FFF;
$african-violet: #B284BE;
$chinese-violet: #856088;
$dark-magenta: #8B008B;
$eggplant: #614051;
$english-violet: #563C5C;
$fandango: #B53389;
$finn: #683068;
$hot-magenta-2: #FF1DCE;
$magenta-dye: #CA1F7B;
$magenta-pantone: #D0417E;
$magenta-haze: #9F4576;
$mulberry: #C54B8C;
$orchid: orchid;
$plum: #8E4585;
$purple: purple;
$purple-pizzazz: #FE4EDA;
$quinacridone-magenta: #8E3A59;
$steel-pink: #CC33CC;
$sky-magenta: #CF71AF;
$violet-jtc: #5B3256;
$violet-web-color: violet;
$amethyst: #9966CC;
$blue-violet: #8A2BE2;
$byzantium: #702963;
$dark-purple: #301934;
$dark-violet: darkviolet;
$electric-purple: #BF00FF;
$electric-violet: #8F00FF;
$eminence: #6C3082;
$french-mauve: #D473D4;
$french-violet: #8806CE;
$grape: #6F2DA8;
$iris: #5A4FCF;
$lavender-floral: #B57EDC;
$lavender-web: lavender;
$lilac: #C8A2C8;
$mardi-gras: #880085;
$mauve: #E0B0FF;
$mauveine: #8D029B;
$murrey: #8B004B;
$palatinate: #682860;
$pale-purple: #FAE6FA;
$persian-indigo: #32127A;
$pink-lavender: #DBB2D1;
$plum-web: plum;
$pomp-and-power: #86608E;
$purpureus: #9A4EAE;
$rebecca-purple: rebeccapurple;
$royal-purple: #7851A9;
$russian-violet: #32174D;
$slate-blue: slateblue;
$tekhelet: #512888;
$thistle: thistle;
$tropical-indigo: #9683EC;
$tyrian-purple: #66023C;
$ultra-violet: #645394;
$veronica: #A020F0;
$violet: #8000FF;
$wisteria: #C9A0DC;
$alabaster: #EDEAE0;
$anti-flash-white: #F2F3F4;
$antique-white: antiquewhite;
$baby-powder: #FEFEFA;
$cornsilk: cornsilk;
$dutch-white: #EFDFBB;
$eggshell: #F0EAD6;
$floral-white: floralwhite;
$ghost-white: ghostwhite;
$isabelline: #F4F0EC;
$linen: linen;
$magnolia: #F8F4FF;
$mint-cream: #F5FFFA;
$nyanza: #E9FFDB;
$old-lace: oldlace;
$parchment: #F1E9D2;
$pearl: #EAE0C8;
$seasalt: #F7F7F7;
$snow: snow;
$white: white;
$white-smoke: whitesmoke;
$platinum: #E5E4E2;
$timberwolf: #DBD7D2;
$silver: silver;
$french-gray: #BEBFC5;
$ash-gray: #B2BEB5;
$cinereous: #98817B;
$cadet-gray: #91A3B0; 
$cool-gray: #8C92AC;
$taupe-gray: #8B8589;
$battleship-gray: #848482;
$gray: gray;
$slate-gray: slategray;
$dim-gray: #696969;
$davys-gray: #555555;
$paynes-gray: #536878;
$gunmetal: #2A3439;
$feldgrau: #4D5D53;
$dark-slate-gray: #2F4F4F;
$black: black;
$cafe-noir: #4B3621;
$charcoal: #36454F;
$ebony: #555D50;
$eerie-black: #1B1B1B;
$jet: #343434;
$licorice: #1A1110;
$night: #111111;
$onyx: #353839;
$outer-space: #414A4C;
$raisin-black: #242124;
$rich-black: #010B13;
$smoky-black: #100C08;
