//@use 'uikit-theme';

@use 'sass/uikit/variables.scss' as variables;
@use 'sass/uikit/mixins-theme.scss';
@use 'sass/uikit/uikit-theme.scss';
//@use 'sass/custom.scss';
//@use 'sass/syntax.scss' as syntax;
//@use 'sass/theme-overrides.scss';

//@import 'main';
//@import 'custom';
//@import 'syntax';

$primary-clr: #f87171;
$secondary-clr: #fda4af;
$accent-clr: #fecdd3;
$muted-clr: #5a3333;
$accent-muted-clr: #d08a92;
$accent-darker-clr: #cb6e7a; 

$global-primary-color: #f87171;
$global-secondary-color: $secondary-clr;
$global-muted-color: $muted-clr;
$global-color: $accent-clr;
$global-emphasis-color: $accent-darker-clr;

.intro-text {
  text-shadow: 1px 1px 2px black;
}

blockquote {
  border-left: 5px solid $accent-darker-clr;
  background: $accent-clr;
  border-radius: 0 4px 4px 0;
  padding: 5px 10px;
}

.button, input[type="submit"] {
  appearance: auto;
}
