---
layout: homepage
title: Femme Venture
logo: light
---

<body>
  {% include header.html %}
  <div class="uk-section uk-section-medium uk-section-primary">
    <div class="intro-text uk-container">
      <h2 class="uk-heading-medium uk-animation-slide-left-small">Femme Venture</h2>
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div>
          <h3 class="uk-h4 uk-animation-slide-left-small">Supporting Female Entrepreneurs</h3>
          
        </div>
      </div>
    </div>
  </div>
  <div class="uk-section">
    <div class="uk-container">
      {{ content }}
    </div>
  </div>
  <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src={{"assets/images/laura-site-stock-background.jpg" | relative_url }} alt="stock image of women holding hands and raising them in the air with a dusky pink background. the image is a closeup of the hands only" uk-img></div>
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src={{"assets/images/laura-site-contact-form-stock-image.jpg" | relative_url }} alt="stock image of women having a meeting in a warm, cozy environment" uk-cover>
        <canvas width="uk-width-auto" height="600"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Contact Us Today!</h3>
            <p>{%  include contact-form.html  %}</p>
        </div>
    </div>
  </div>
  {% include card-list.html %}
  <div id="Connect" class="uk-section uk-section-secondary">
    <div class="uk-container">
      <h2 class="uk-heading-line"><span>Connect</span></h2>
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>
          <p>
            Helping you take your small business to the next level.
          </p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</body>
